.motto p:nth-child(2) {
  animation: 3s slide forwards;
}

.motto p:last-child {
  animation: 3s last-slide forwards ;
} 

.motto p{
  color: white;
  font-size: 5vw;
  font-weight: 900;
  font-family: sans-serif;
  line-height: 1em;
}

@keyframes slide {
  to {
    padding-left: 27%;
  }
 }


@keyframes last-slide {
  to {
    padding-left: 60%;
  }
}

