.motto {
  margin-left: 5%;
}

.motto p:nth-child(2) {
  animation: 3s slide forwards;
}

 .motto p:last-child {
  animation: 3s last-slide forwards ;
} 

.motto p{
  color: white;
  font-size: 60px;
  line-height: 3.5rem;
  font-weight: 900;
  font-family: sans-serif;
}

@keyframes slide {
  from {
   margin-left: 0;
  }
  to {
   margin-left: 20%;
  }
 }


@keyframes last-slide {
 from {
  margin-left: 0;
 }
 to {
  margin-left: 40%;
 }
}

@media (min-width: 1000px) {
.moto{
  margin-left: 10%;
}

@keyframes last-slide {
 from {
  margin-left: 0;
 }
 to {
  margin-left: 45%;
 }
}
}

@media (max-width: 600px) {

  @keyframes slide {
    from {
     margin-left: 0;
    }
    to {
     margin-left: 15%;
    }
   }
  
  @keyframes last-slide {
   from {
    margin-left: 0;
   }
   to {
    margin-left: 30%;
   }
  }
  }


  @media (max-width: 400px) {

    .motto p{
      font-size: 40px;
      line-height: 2.5rem;
    }
    
    @keyframes last-slide {
     from {
      margin-left: 0;
     }
     to {
      margin-left: 25%;
     }
    }

    }