.page-container {
    width: 90%;
    margin: 2rem auto;
}

.page-container p, h2, h4 {
    padding: 0 1.5rem;
    margin-bottom: 1rem;
}

.page-container authors-img {
    padding: 0;
    margin: 0;
}

.date-container {
    display: flex;
    justify-content: space-between;

    width: 120px;
    padding-right: 1rem;
    margin: 0 1rem 0.5rem auto;
}

.date-container em {
    align-self: center;
}

@media (min-width: 800px) {
    .page-container {
        width: 80%;
    }
}