.page-container {
    width: 90%;
    margin: 2rem auto;
    padding: 1rem;
}

.date-container {
    display: flex;
    align-items:flex-end;
    justify-content: space-between;
    width: 110px;
    margin: 0 0 0.5rem auto;
}

@media (min-width: 800px) {
    .page-container {
        width: 70%;
    }
}