.nav-container{
    width: 170px;
    padding: 0 0 1rem 1rem;
    font-family: "Montserrat";
}

.nav-link-basic {
    text-decoration: none;
    color:rgb(0, 0, 0);
}

.nav-link-basic:hover {
    text-decoration: wavy underline;
}