.menuBtn {
    background-color: transparent;
    color: white;
    padding: 16px;
    border: none;
    cursor: pointer;
  }
  
  .menu {
    position: relative;
    display: inline-block;
  }
  
  .nav {
    display: none;
    position: absolute;
    right: 0;
    box-shadow: 1px 0px 15px -4px rgba(0,0,0,0.75);
    min-width: 160px;
    z-index: 1;
    padding: 10px;
  }
  
  .nav a:nth-child(2) {
    padding: 1rem 0;
    display: block;
  }
    
  .menu:hover .nav {
    display: block;
  }