.card {
    margin: 2rem auto;
    width: 100%;
    height: max-content;
    width: 85%;
    font-family: "Montserrat";
    font-weight: 500;
}

.cardContent {
    display: flex;
    font-family: "Montserrat";
    font-weight: 500;
    white-space: pre-wrap;
}

.cardImg {
    height: inherit;
    max-width: 150px;
}

.genreSpan {
    background-color: rgb(217, 217, 217);
    line-height: 2rem;
    margin-left: 0.2rem;
    padding: 0.2rem;
}