.card {
    display: flex;
    margin: 2rem auto;
    height: max-content;
    width: 90%;
}

.cardImg {
    max-width: 150px;
    border-radius: 5px 0 0 5px;
}

.card:hover {
    width: 92%;
    transition: all 0.4s;
}

.groupName {
    font-size: 20px;
    line-height: 2rem;
}

.cardContent {
padding: 1rem;
    font-weight: 500;
}

.genreSpan {
    background-color: rgb(217, 217, 217);
    line-height: 2rem;
    margin-left: 0.2rem;
    padding: 0.3rem;
    border-radius: 5px;
}


@media (max-width: 500px) {
    .card {
        flex-direction: column;
    }

    .cardImg {
        max-width: inherit;
        height: 150px;
        object-fit: cover;
    }
}