.card {
    margin: 2rem auto;
    height: max-content;
    width: 85%;
    font-family: "Montserrat";
    font-weight: 500;
}

.card:hover {
    width: 88%;
    transition: all 0.3s ease-in-out;
}

.card h2 {
    margin: 0;
    padding: 0;
}

.cardContent {
    display: flex;
    font-family: "Montserrat";
    font-weight: 500;
    white-space: pre-wrap;
}

.cardImg {
    height: inherit;
    max-width: 150px;
}

.genreSpan {
    background-color: rgb(217, 217, 217);
    line-height: 2rem;
    margin-left: 0.2rem;
    padding: 0.2rem;
}


@media (max-width: 500px) {
    .cardContent {
        flex-direction: column;
    }

    .cardImg {
        max-width: inherit;
        height: 150px;
        object-fit: cover;
    }
}

@media (min-width: 1000px) {
    .card {
        width: 60%;
    }

    
.card:hover {
    width: 63%;
}

}