.about-link {
    text-decoration: none;
    font-weight: 500;
    color: black;
  }

  .about-link:hover {
    background-color: rgb(128, 0, 255);
    color:aliceblue;
  }

.authors-img {
  border-radius: 5px;
}


.page-container p {
  margin-bottom: 1rem;
}