.card {
    margin: 2rem auto;
    width: 100%;
    height: 150px;
    font-family: "Montserrat";
    font-weight: 500;
}

.cardContent {
    display: flex;
    font-family: "Montserrat";
    font-weight: 500;
}

.cardImg {
    height: 150px;
    max-width: 150px;
}