footer {
    width: 95%;
    height: fit-content;
    margin: 0 2.5%;
    background-color: white;
    box-shadow: rgba(50, 50, 93) 0px 2px 5px -1px, rgba(0, 0, 0) 0px 1px 3px -1px;
    border-radius: 50px 50px 0 0;
    padding: 20px 5%;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.absolute {
    position: absolute;
    bottom: 0;
}

.relative {
    position: relative;
    bottom: 0;
}

.footer-link {
    color:black;
    text-decoration: none;
}

.footer-nav {
    display: flex;
    flex-direction: column;
}

.w-link {
    margin: 1rem 10%;
    display: flex;
    justify-content: space-between;
   width: 80%;
}