footer {
    width: 100%;
    background-color: white;
    padding: 20px 5%;
}

.footer-content {
    display: flex;
    width: 90%;
    margin: 0 auto;
    padding-top: 1rem;
    justify-content: space-around;
}

.footer-link {
    color:black;
    text-decoration: none;
}

.footer-nav {
    display: flex;
    flex-direction: column;
}

.w-link {
    margin: 1rem 10%;
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.w-link a:hover {
    cursor: pointer;
}

@media (max-width: 650px) {
    .footer-content {
        flex-direction: column;
    }

    .footer-content div {
        margin-bottom: 1rem;
    }

    .w-link {
        width: 40%;
        margin: 0.5rem 0;
    }
}