.containerLogo {
    margin: 2rem;
    margin-left: 0;
}

.nav-link {
    text-decoration: none;
    color:aliceblue;
    font-weight: 600;
}

nav {
    display: flex;
    justify-content: space-around;
    margin-left: 10%;
    width: 50%;
}

header {
    display: flex;
    align-items: baseline;
    margin: 10px 5%;
}

.nav-w-link {
    display: flex;
    justify-content: space-around;
    width: 100px;
}

.nav-w-link img {
    height: 16px;
}
