.containerLogo {
    margin: 2rem;
    margin-left: 0;
}

.nav-link {
    text-decoration: none;
    color:aliceblue;
    font-weight: 600;
}

.nav {
    display: flex;
    justify-content: space-around;
    margin-left: 10%;
    width: 50%;
}

header {
    display: flex;
    background-image: url('../../../public/bg.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    position:sticky;
    width: 100vw;
    top: 0px;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    z-index: 100;
}

.nav-w-link {
    display: flex;
    justify-content: space-around;
    width: 100px;
}

.nav-w-link a img {
    height: 16px;
}

.nav-w-link a:hover {
    cursor: pointer;
}

@media (max-width: 700px) {
    header {
        padding: 1rem 5%;
        justify-content: space-between;
    }

    .nav {
        flex-direction: column;
        margin-left: 0;
    }

    .nav * {
        margin: 0.5rem 0;
    }

    .nav-link {
        color: rgba(0, 0, 0, 0.87);
        font-weight: normal;
        
    }

    .nav-w-link {
        margin-top: 0.5rem;
        justify-content: space-between;
    }
}
